@tailwind base;
@tailwind components;
@tailwind utilities;
.jumbotron-image {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/12/10/40/school-1974369_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}