@tailwind base;
@tailwind components;
@tailwind utilities;
.jumbotron-image{
    background-image: url('https://archivos.territorio.la/archivos/clases/2020n08n18n11n37n26nWindow___645f3c05ba7afe2___.png');
    background-repeat: no-repeat;
    background-size: cover;
}